<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Torre Vhala - Comedor</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/img/logo_torrevhala.png" rel="icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="~/lib/glightbox.min.css" rel="stylesheet">
    <link href="~/lib/aos.css" rel="stylesheet">
    <link href="~/lib/boxicons.min.css" rel="stylesheet">
    <link href="~/lib/swiper-bundle.min.css" rel="stylesheet">
    <link href="~/lib/animate.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container container-xl d-flex align-items-center justify-content-between">
            <img height="85" src="../../img/logo_torrevhala.png" alt="">
            <h1 class="logo me-auto me-lg-0"> Torre Vhala</h1>
            <a class="book-a-table-btn scrollto d-flex" href="../Home/Chef">CHEF</a>
        </div>
    </header>
    <section id="hero" class="d-flex align-items-center">
        <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
            <div class="row">
                <div class="col-lg-8">
                    <h1 class="">Reservar <span>Horario</span></h1>
                    <h2>Elige entre los 3 horarios distintos para el comedor</h2>
                </div>
                <div class="col-lg-4 d-flex align-items-center justify-content-center position-relative" data-aos="zoom-in" data-aos-delay="200">
                </div>
            </div>
        </div>
    </section>
    <main id="main">
        <section id="why-us" class="why-us">
            <div class="container" data-aos="fade-up">
                <div class="section-title">
                    <h2>Maximo 6 personas por horario</h2>
                    <div class="col-md-12">
                        <div class="row">
                            <p>Elige el horario semanal que mas te agrade</p>
                        </div>
                    </div>
                    <br>
                </div>
                <div class="row">
                    <div class="col-lg-4" style="cursor: pointer;" onclick="getSpace(1);">
                        <div class="box" data-aos="zoom-in" data-aos-delay="100">
                            <span>1 - 2 PM</span>
                            <div class="h4 text-white">Disponibles <b>6</b></div>
                            <ul id="listHorario1">
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-4 mt-lg-0" style="cursor: pointer;" onclick="getSpace(2);">
                        <div class="box" data-aos="zoom-in" data-aos-delay="200">
                            <span>2 - 3 PM</span>
                            <div class="h4 text-white">Disponibles <b>6</b></div>
                            <ul id="listHorario2">
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-4 mt-lg-0" style="cursor: pointer;" onclick="getSpace(3);">
                        <div class="box" data-aos="zoom-in" data-aos-delay="300">
                            <span>3 - 4 PM</span>
                            <div class="h4 text-white">Disponibles <b>6</b></div>
                            <ul id="listHorario3">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer id="footer">
        <div class="container">
            <div class="credits">
                Designed by
                <a href="http://raciti.com.mx/">
                    <strong>
                        Raci TI
                    </strong>
                    <img class="" height="25" src="../../img/logo_raci.png" alt="Logo Raci TI">
                </a>
            </div>
        </div>
    </footer>

    @*<div id="preloader"></div>*@
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <div class="modal fade" id="modalNameReserver" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="modalNameReserverLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content bg-negro">

                <div class="modal-header bg-amarillo">
                    <h4 class="modal-title text-dark" style="letter-spacing: 1px; font-family: " Poppins", sans-serif;" id="modalNameReserverLabel">
                        Elige tu menú semanal
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body bg-gris">
                    <form id="frmReserva" class="row px-3">

                        <div class="col-md-12 text-center">
                            <div class="h5">Horario seleccionado</div>
                            <div id="horarioSelected" class="text-danger h3 mb-3 col-md-12"></div>
                        </div>

                        <div class="card border col-md-12 text-white bg-negro mb-3">
                            <div class="card-body">
                                <div class="mb-3">
                                    <label for="inNombre" class="form-label">Nombre*</label>
                                    <input type="text" class="form-control form-control-sm" id="inNombre">
                                </div>
                            </div>
                        </div>

                        <div class="card border col-md-12 text-white bg-negro mb-3">
                            <div class="card-header">Lunes</div>
                            <div class="card-body">
                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" id="lunchLunes">
                                    <label class="form-check-label" for="lunchLunes">Lunch Lunes</label>
                                </div>
                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" id="comidaLunes">
                                    <label class="form-check-label" for="comidaLunes">Comida Lunes</label>
                                </div>
                            </div>
                        </div>

                        <div class="card border col-md-12 text-white bg-negro mb-3">
                            <div class="card-header">Martes</div>
                            <div class="card-body">
                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" id="lunchMartes">
                                    <label class="form-check-label" for="lunchMartes">Lunch Martes</label>
                                </div>
                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" id="comidaMartes">
                                    <label class="form-check-label" for="comidaMartes">Comida Martes</label>
                                </div>
                            </div>
                        </div>

                        <div class="card border col-md-12 text-white bg-negro mb-3">
                            <div class="card-header">Miércoles</div>
                            <div class="card-body">
                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" id="lunchMiercoles">
                                    <label class="form-check-label" for="lunchMiercoles">Lunch Miércoles</label>
                                </div>
                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" id="comidaMiercoles">
                                    <label class="form-check-label" for="comidaMiercoles">Comida Miércoles</label>
                                </div>
                            </div>
                        </div>

                        <div class="card border col-md-12 text-white bg-negro mb-3">
                            <div class="card-header">Jueves</div>
                            <div class="card-body">
                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" id="lunchJueves">
                                    <label class="form-check-label" for="lunchJueves">Lunch Jueves</label>
                                </div>
                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" id="comidaJueves">
                                    <label class="form-check-label" for="comidaJueves">Comida Jueves</label>
                                </div>
                            </div>
                        </div>

                        <div class="card border col-md-12 text-white bg-negro mb-3">
                            <div class="card-header">Viernes</div>
                            <div class="card-body">
                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" id="lunchViernes">
                                    <label class="form-check-label" for="lunchViernes">Lunch Viernes</label>
                                </div>
                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" id="comidaViernes">
                                    <label class="form-check-label" for="comidaViernes">Comida Viernes</label>
                                </div>
                            </div>
                        </div>

                        <div class="card border col-md-12 text-white bg-negro mb-3">
                            <div class="card-body">
                                <div class="mb-3">
                                    <label for="inNombre" class="form-label">Opinión o sugerencia del Menú</label>
                                    <input type="text" class="form-control form-control-sm" id="inNombre">
                                </div>
                            </div>
                        </div>

                        <button type="button" class="btn btn-outline-warning mb-3">Enviar</button>
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>

                    </form>
                    <div class="form-group mt-3">
                        <textarea class="form-control" name="message" rows="5" placeholder="Message"></textarea>
                        <div class="validate"></div>
                    </div>

                </div>
                <div class="modal-footer bg-negro">
                    <button type="button" class="btn btn-gris" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-gris">Understood</button>
                </div>
            </div>
        </div>
    </div>


    <script defer src="~/lib/jquery/dist/jquery.min.js"></script>
    <script defer src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script defer src="~/lib/aos.js"></script>
    <script defer src="~/lib/glightbox.min.js"></script>
    <script defer src="~/lib/isotope.pkgd.min.js"></script>
    <script defer src="~/lib/swiper-bundle.min.js"></script>
    <script defer src="~/js/main.js"></script>
    <script defer src="~/js/reserva.js"></script>
</body>
</html>
